.content p {
    font-size: 16px;
  }
.modal p:nth-of-type(1) {
  margin-left: 4px;
}
  
  /* ------------------- */
  
  @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
  
  /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Pretendard;
    word-break: break-all;
    outline: none;
  }
  
  body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background: #f7f8fc;
    padding: 1.2rem 0;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 50px;
    margin-top: 1rem;
    font-size: 1.1rem;
    background: #febf00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  
  .modal {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
  }
  
  .modal > .content {
    position: absolute;
    top: 5%;
    left: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background: #fff;
    border-radius: 7px;
    height: 60px;
    /* transform: translate(-50%, -50%); */
  }
  
  small {
    color: #444;
    font-size: 16px;
  }